// Body
$body-bg: #f8fafc;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-family-sans-serif:      "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;


/*@brand-primary:         #5e9bd1;//#699dd1;//#4996d1;//#43a9d1;//#43a9d1;//#4ea7de;//#359fd4;//#0f99cf;//#43aade;
@brand-primary-darker:  #2F73B0;
@brand-primary-dark:    #4586C1;
@brand-primary-light:		#7BB0DF;
@brand-primary-lighter: #9FC8EC;
@brand-secondary:         #f7cf57;//#f7cc4a;//#f8c014;//#f87034;//#f0ad4e;
@brand-secondary-dark:    #CC9A00;//#f0ad4e;
@brand-secondary-light: #FDD047;//#f0ad4e;
@brand-secondary-lighter: #FFDD73;//#f0ad4e;
@brand-success:         #a5c05b;//#00a498;//#29a66c;//#59b389;
@brand-success-dark:    #228758;//#44956f;
@brand-success-light:		#46B784;
@brand-success-lighter: #bbe9D4;
@brand-info:            #49c2f2;//#5bc0de;
@brand-info-dark:       #19b2ef;//#5bc0de;
@brand-info-lighter:    #a3e2fa;//#5bc0de;
@brand-info-lighter:    #a3e2fa;//#5bc0de;
@brand-warning:         #FFD84E;//#f0ad4e;
@brand-warning-dark:    #FFD029;//#f0ad4e;
@brand-warning-light:		#FFE174;//#f0ad4e;
@brand-warning-lighter: #FFEBA3;//#f0ad4e;
@brand-danger:          #cf3e4f;//#d9534f;
@brand-danger-dark:     #af2b3b;//#d9534f;
@brand-danger-light:		#EB6575;//#d9534f;
@brand-danger-lighter:  #f8939f;//#d9534f;*/

$yiq-contrasted-threshold:  199;

$primary:       #5e9bd1;
//$secondary:     $gray-600 !default;
$success:       #a5c05b;
$info:          #49c2f2;
$warning:       #fec848;//#FFD84E;
$danger:        #cf3e4f;

$headings-font-weight: bold;
